<section class="articles">
    <div class="container">
        <div class="articles-section-title">статті</div>
            <!--#insert file="__articlesmenu/--articlesmenu.html"-->
        <div class="articles-box">
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="__articlescard/--articlescard.html"-->
            <!--#insert file="../pagescount/-pagescount.html"-->
    </div>
    </div>
</section>