.articles{
  background-image: url("img/mainbg.png");
  .container{
    padding: 0 21px;
    @include media($width-xs){
      padding: 0 33px;
    }
    @include media($width-mid){
      padding: 0 50px;
    }
    @include media($width-max){
      padding: 0;
      max-width: 1094px;
      overflow: hidden;
    }
  }
  .articles-section-title{
    color: #dc0a0c;
    font-size: 24.15px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0;
    @include media($width-xs){
      padding: 12px 0px 9px 0;
      font-size: 34.56px;
    }
    @include media($width-mid){
      padding: 29px 0px 33px 0;
      font-size: 62.5px;
    }
    @include media($width-max){
font-size: 39.58px;
      padding: 27px 0px 10px 0;

    }
  }
  .articles-box{
    @include media($width-max) {
      padding: 0 2px;
    }
  }
  .page-count{
    margin: 11px 0;
    border-radius: 7px;
    @include media($width-xs){
      margin: 21px 0;
      border-radius: 12px;
    }
    @include media($width-mid){
      margin: 38px 0;
      border-radius: 30px;
    }
    @include media($width-max){
      margin: 0;
      border-radius: 12px;
      text-align: center;
      padding: 33px 0 43px 0;
      box-shadow: none;
      background-color: transparent;
    }
  }
  .height-auto{
    height: auto;
  }
}