.articles{
  background-image: url("img/mainbg.png");
  .container{
    padding: 0 21px 0 21px;
  }
  .articles-section-title{
    color: #dc0a0c;
    font-size: 24.15px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0 14px 0;
  }
}