<div class="vacancy-card">
    <div class="vacancy-card-main">
<div class="vacancy-name">Разнорабочий производства в Польшу</div>
<div class="vacancy-company">Здесь будет полное названия предприятия</div>
<div class="employment-type">Повна зайнятість.</div>
<div class="vacancy-description">Компании ЮСПИ требуются разнорабочие сотрудники
    (разные виды работ) на работу в Польше …</div>
</div>
    <div class="vacancy-card-footer">
        <div class="icon-city-term-box">
        <div class="pin-icon"></div>
        <div class="vacancy-city">Варшава</div>
        <div class="vacancy-term-post">3 дні тому</div>
        </div>
        <button class="red-button">Детальніше</button>
    </div>
</div>