<div class="article-card">
    <div class="article-card-img-box"><img src="img/vacancyimg4.jpg" alt="article picture" class="article-img"></div>
   <div class="article-card-content-box"> <div class="article-card-title">НАЗВА СТАТТI</div>
    <div class="article-card-text">приклад короткого опису статті
        приклад короткого опису статті
        приклад короткого опису статті
        приклад короткого опису статті</div>
    <div class="article-card-footer">
        <div class="article-card-date">01.01.18</div>
        <a href="#" class="red-button">читати далі</a></div></div>
</div>