<!--#insert file="__vacanciesslider/--vacanciesslider.html"-->
<section class="vacancies">
    <div class="vacancies-container">
    <div class="search-result-container">
        <div class="pin-icon"></div>
    <div class="search-result">
        <div class="search-result-city">Варшава</div>
        <div class="search-result-change">Изменить</div>
    </div>
    <div class="number-search-vacancies"><span>Знайдено вакансій <span>100</span></span></div>
    </div>

    <!--#insert file="__vacanciessearch/--vacanciessearch.html"-->
    <!--#insert file="__vacanciescategoriesmenu/--vacanciescategoriesmenu.html"-->
<div class="vacancies-cards-container">
    <div class="number-search-vacancies-1336">Знайдено <span>100</span> вакансій в Польщі за останній <div class="search-period"><span class="search-period-active">Місяць</span><ul class="search-period-dropdown">
        <li class="search-period-dropdown-item">Доба</li><li class="search-period-dropdown-item">Тиждень</li><li class="search-period-dropdown-item search-period-dropdown-item-active">Місяць</li></ul></div></div>
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->
<!--#insert file="__vacanciescard/--vacanciescard.html"-->

    <!--#insert file="../pagescount/-pagescount.html"-->
    </div>
</section>