.vacancies{
  background-image: url("img/mainbg.png");
}
.vacancies-container {
  @include media($width-max) {
    font-size: 0;
    margin: 0 auto;
    width: 1065px;
    margin-top: 23px;
  }
}
.search-result-container{
  font-size: 12.21px;
  padding-left: 16px;
  margin-bottom: 8px;
  padding-top: 5px;
  @include media($width-xs){
    padding-top: 14px;
font-size: 17.52px;
  padding-left: 26px;
  margin-bottom: 12px;
  }
  @include media($width-mid){
font-size: 36px;
    padding-top: 36px;
  padding-left: 49px;
  margin-bottom: 18px;
  }
  @include media($width-max){
display: none;
  }
}
.pin-icon{
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-image: url("img/searchpinicon.svg");
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 15px;
  @include media($width-xs){
 width: 16px;
  height: 21px;
  }
  @include media($width-mid){
 width: 33px;
  height: 44px;
  }
  @include media($width-max){
 width: 16px;
  height: 18px;
  }
}
.search-result{
display: inline-block;
  vertical-align: middle;
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: $mainwhite;
  padding: 7px 8px 7px 6px;
  border-radius: 4px;
  @include media($width-xs){
 padding: 11px 9px 11px 5px;
  border-radius: 9px;
    margin-left: 4px;
  }
  @include media($width-mid){
 padding: 22px 18px 22px 15px;
  border-radius: 10px;
  }
  @include media($width-max){
 padding: 7px 8px 7px 6px;
  border-radius: 4px;
  }
}
.search-result-city{
font-family: $museo700, sans-serif;
  color: $mainblack;
  display: inline-block;
  vertical-align: middle;
}
.search-result-change{
color: #ff0000;
  display: inline-block;
  vertical-align: middle;
  font-family: $museo100, sans-serif;
}
.number-search-vacancies{
  font-family: $museo500;
  color: #808080;
  margin-top: 11px;
  @include media($width-xs){
    margin-top: 16px;
  }
  @include media($width-mid){
    margin-top: 36px;
  }
  @include media($width-max){
    display: none;
  }
}
.number-search-vacancies-1336{
  display: none;
  @include media($width-max){
    display: block;
color: #292929;
    font-size: 14.17px;
    font-family: $museo300;
    border-bottom: 2px solid #a0a0a0;
    background-color: #fafafa;
    border-radius: 9px 9px 0 0;
    padding: 24px 35px 28px 35px;
    box-sizing: border-box;
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.25);
  }
  span:first-child{
    @include media($width-max){
      color: #fe0000;
    }
  }
}
.search-period{
  color: #fe0000;
  display: inline-block;
  position: relative;
  padding-right: 22px;
  &:after{
    content: "›";
    position: absolute;
    color: #292929;
    font-family: $museo700;
    font-size: 25px;
    transform: rotate(90deg);
    right: 0px;
    font-weight: bold;
    top: -6px;
  }
}
.search-period-dropdown{
  display: none;
  position: absolute;
  top: 17px;
  left: -6px;
  color: #a0a0a0;
  background-color: $mainwhite;
  border-radius: 3px;
  padding: 7px;
}
.search-period-dropdown-item{
  margin-bottom: 7px;
  &:last-child{
    margin-bottom: 0;
  }
}
.search-period-dropdown-item-active{
color: #131313;
}
.vacancies-cards-container{
  @include media($width-max){
    display: inline-block;
    width: 820px;
    margin-bottom: 124px;
    border-radius: 0 0 9px 9px;
  }
}
