<ul class="articles-menu">
    <li class="article-menu-title">Категорії:</li>
    <li class="article-menu-arrow">&#8250;</li>
    <li class="article-menu-item">Всі</li>
    <li class="article-menu-item">Робота в Польщі</li>
    <li class="article-menu-item article-menu-item-active">Проживання в польщі</li>
    <li class="article-menu-item">Побут</li>
    <li class="article-menu-item">Документи</li>
    <li class="article-menu-item">Навчання в Польщі</li>
    <li class="article-menu-item">Медицина</li>
    </ul>