.articles-menu{
  overflow: hidden;
  box-shadow: 0px 1px 6.88px 1.12px rgba(0, 0, 0, 0.25);
  background-color: $mainwhite;
  padding: 0 15px 0 11px;
  border-radius: 10px;
  font-size: 0;
  position: relative;
  height: 37px;
  margin-bottom: 15px;
  @include media($width-xs){
    padding: 0 18px 0 18px;
    border-radius: 14px;
    margin-bottom: 18px;
    height: 52px;
  }
  @include media($width-mid){
    padding: 0 36px 0 38px;
    border-radius: 18px;
    margin-bottom: 42px;
    height: 110px;
  }
  @include media($width-max){
    padding: 0 0px 0 30px;
    border-radius: 10px;
    height: 68px;
    width: 96.7%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .articles-menu-arrow{
    color: $mainblack;
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 14.36px;
    font-family: $museo700;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(90deg);
    @include media($width-xs){
      top: 18px;
      right: 10px;
      font-size: 20.43px;
    }
    @include media($width-mid){
      top: 37px;
      right: 21px;
      font-size: 43.55px;
    }
    @include media($width-max){
display: none;
    }
  }
  .articles-menu-title{
    font-size: 15.14px;
    font-family: $museo500, sans-serif;
    padding: 11px 5px 11px 3px;
    color: #1b1b1b;
    display: inline-block;
    @include media($width-xs){
     font-size: 21.46px;
      padding: 15px 13px 16px 0px;
    }
    @include media($width-mid){
      font-size: 41.86px;
      padding: 22px 32px 37px 0px;
    }
    @include media($width-max){
font-size: 19.46px;
      padding: 20px 30px 20px 0px;
    }
  }
  .articles-menu-item{
    cursor: pointer;
    font-size: 14.7px;
    font-family: $museo500, sans-serif;
    padding: 11px 8px 11px 8px;
    background-color: #f1f1f1;
    color: #474747;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    @include media($width-xs){
      padding: 14px 12px 16px 12px;
      font-size: 20.83px;
      margin-right: 2px;
      margin-bottom: 2px;
      border-radius: 8px;
    }
    @include media($width-mid){
      padding: 41px 20px 35px 20px;
      font-size: 33.33px;
      margin-right: 3px;
      margin-bottom: 3px;
      border-radius: 11px;
    }
    @include media($width-max){
      padding: 26px 15px;
      font-size: 16.92px;
      margin-right: 1px;
      margin-bottom: 0px;
      border-radius: 8px;
    }
   &:last-child{
     margin-bottom: 0;
   }
  }
  .articles-menu-item-active{
    font-family: $museo700, sans-serif;
color: $mainwhite;
    background-color: #dc0a0c;
    box-shadow: inset 0px 3px 8px 0px rgba(72, 51, 38, 1);
  }
}