<div class="vacancies-categories-menu-box">
    <div class="vacancies-categories-title">Вакансии в Польша
        по категориям</div>
    <ul class="vacancies-categories-menu">
        <li class="vacancies-categories-menu-item"><a href="#">IT, комп'ютери, інтернет <span>6</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Адміністрація, <br> керівництво середньої ланки <span>11</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Бухгалтерія, аудит <span>17</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Готельно-ресторанний бізнес, туризм <span>40</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Дизайн, творчість <span>5</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Краса, фітнес, спорт <span>4</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Культура, музика, шоу-бізнес <span>1</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Логістика, склад, ЗЕД <span>17</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Маркетинг, реклама, PR <span>4</span></a></li>
        <li class="vacancies-categories-menu-item"><a href="#">Медицина, фармацевтика <span>10</span></a></li>
    </ul>
</div>