<div class="page-count">
    <div class="page-number"><span>1 из 100</span><div class="page-number-box"><a href="#" class="page-number-item vacancies-page-number-item-active">1</a> <a
            href="#" class="page-number-item">2</a> <a href="#" class="page-number-item">3</a> <a
            href="#" class="page-number-item">4</a> <a href="#" class="page-number-item">5</a> <a
            href="#" class="page-number-item">6</a> <span class="page-number-dots">...</span> <a href="#"
                                                                                                 class="page-number-item">13</a> </div></div>
    <a href="#" class="page-next">Наступна <span>&#8250;</span></a>
</div>