<section class="vacancies-slider">
    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
        <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
        <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
        <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg1.jpg">
    </div>

    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg2.jpg">
    </div>

    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg3.jpg">
    </div>
    <div class="mySlides fade">
        <div class="vacancies-slide-content-box">
            <div class="vacancies-slide-title"><span>робота</span> <span>в польщі</span></div>
            <div class="vacancies-slide-text">Пример текста, пример текста, пример текста. Пример текста, пример текста. Пример текста, пример текста, пример текста. Пример текста.</div>
            <a href="#" class="red-button">Детально</a>
        </div>
        <img src="img/vacancyimg4.jpg">
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#60;</a>
    <a class="next" onclick="plusSlides(1)">&#62;</a>
    <div class="dots-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</section>
